@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Rouge+Script&display=swap');

@font-face {
  font-family: 'Brittany Signature';
  src: url('../../static/fonts/BrittanySignature.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.leaflet-container {
  height: 400px;
  width: 100%;
}

body {
  background-color: #D6CFC1;
}

.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }

  .cardevent {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 768px
  }
}

.card-schedule {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #D6CFC1;
}

.map {
  width: 100%;
  height: 30rem;
}

.message {
  background-color: #b07c34;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  width: 100%;
}


.title {
  font-family: 'Rouge Script', sans-serif;
  font-weight: 700;
  transform: rotate(-2deg);
  font-size: 6rem;
  color: #b07c34;
  height: 1em;
}

.explainbride {
  font-family: 'dosis';

}

.subtitle {
  padding: 35px;
  padding-bottom: 0;
  font-family: 'dosis';
  font-weight: 700;
  color: #63402f;
  font-size: 1.5rem;
}

.title-identity {
  font-family: 'dosis';
  color: #63402f;
}

.font-rouge-script {
  font-family: 'Rouge Script', sans-serif;
}

.color-primary {
  color: #b07c34;
}