@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Rouge+Script&display=swap');

@font-face {
  font-family: 'Brittany Signature';
  src: url('../../static/fonts/BrittanySignature.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.leaflet-container {
  height: 400px;
  width: 100%;
}

body {
  background-color: #d6cfc1;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }

  .cardevent {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 768px;
  }
}

.card-schedule {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #d6cfc1;
}

.map {
  width: 100%;
  height: 30rem;
}

.message {
  background-color: #00aea3;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  width: 100%;
}

.title {
  font-family: 'Inria serif';
  font-weight: 700;
  padding: 1rem;
  color: #ffffff;
  font-size: 2.25rem;
}

.explainbride {
  font-family: 'dosis';
}

.subtitle {
  font-style: normal;
  font-weight: 500;
  font-size: 1.75rem;
  color: #ffffff;
}

.title-identity {
  font-family: 'dosis';
  color: white;
}

.font-rouge-script {
  font-family: 'Rouge Script', sans-serif;
}

.color-primary {
  color: #b07c34;
}

.music-box {
  position: fixed;
  width: 300px;
  height: 160px;
  z-index: 9999999;
  bottom: 50vh;
  right: -30vw;
}

#clockdiv {
  font-family: 'dosis';
  color: grey;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div {
  padding: 8px;
  border-radius: 3px;
  display: inline-block;
}

#clockdiv div > span {
  padding: 10px;
  border-radius: 3px;
  display: inline-block;
}

#day,
#hour,
#minute,
#second {
  font-size: 2rem;
  color: white;
  border-bottom: solid 3px white;
}

.smalltext {
  padding-top: 2px;
  font-size: 1rem;
  font-weight: 700;
}

.health-advice {
  background-color: #00aea3;
  width: 100%;
  margin: auto;
  box-shadow: 1px 1px 5px #888888;
  padding: 10px;
  border-radius: 10px;
  color: white;
}

.advices {
  padding: 5px;
  border-bottom: 1px solid #c7c7c7;
}

.iframe-silence {
  display: none !important;
}

.mxh-50 {
  max-height: 50rem;
}

.mirror {
  transform: scaleX(-1);
}
